@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200&display=swap');

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input#text-input {
  width: 258px;
  margin: 10px 0;
  padding: 10px 0;
  padding-left: 42px;
  font-size: 30px;
  background-repeat: no-repeat;
  background-position: 10px;
}

#meme-image-container {
  background: white;
  border: 1px solid black;
  width: 300px;
  height: 300px;
}

#meme-text {
  position: absolute;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  margin-top: 10px;
  color: white;
  word-wrap: break-word;
  width: 290px;
}

#meme-image {
  display: flex;
  align-self: flex-end;
  position: absolute;
  width: 300px;
  height: 300px;
}

#fire {
  background-color: red;
  cursor: pointer;
}

#water {
  background-color: blue;
  margin: 0 15px;
  cursor: pointer;
}

#earth {
  background-color: green;
  cursor: pointer;
}

#meme-1 , #meme-2 , #meme-3 , #meme-4 {
  width: 80px;
  height: 80px;
  border: 2px solid black;
  cursor: pointer;
}

#text-label {
  font-weight: bold;
}

#text-input {  
  background-size: 25px;
  background-image: url('imgs/icon-text.png');
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(34, 121, 197) ;
  width: 800px;
  margin: auto;
  margin-top: 20px;
}

#input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn-border {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#carrega-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#meme-insert {
  display: none;
}

#file-name {
  margin: 5px 0;
  color: white;
}

.btn-game {
  width: 220px;
  height: 25px;
  line-height: 25px;
  border-radius: 5px;
  margin: 5px 0;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: rgb(214, 205, 152);
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 5px 5px 5px rgb(112, 107, 107);
}

.btn-game:hover {
  background-color: rgb(214, 205, 152, .5);
}

.btn-game:active {
  margin-left: 3px;
  margin-top: 3px;
  box-shadow: 2px 2px 2px rgb(112, 107, 107);
}

.btn-elements {
  padding: 5px 15 px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
}

/* Menu Navegação */ 

#menu-nav {
  text-align: center;
  padding: 25px 0;
  background-color: rgb(255, 255, 255);
}

#menu-nav a {
  font-family: 'Stick No Bills', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  transition: 1s;
  font-size: 20px;
}

#menu-nav a:hover {
  font-size: 22px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .05);
  padding: 10px;
}
